html {
    background-image: linear-gradient(to bottom,#a09d9b, white );
    background-position: right center;
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
    font-size: 200%;
    padding-top: 15px;
    border: 3px solid black;
    background-color: #e8e6e1;
    height: 75px;
    box-sizing: border-box;
    background-image: url(paint.jpg);
}
.site-nav {
    padding: 10px;
    font-size: 150%;
    font-weight: bolder;
    box-sizing:border-box;
}
    
.site-nav li {
list-style: none;
float:left;
margin-right: 30px;
background-color:#e8e6e1 ;
border: 1px gray;
background-image: url(paint.jpg);
background-position: top;
}

.site-nav ul {
    margin:0;
    padding-left: 33%;
    padding-bottom: 20px;
}
.site-nav a {
    display: block;
    text-decoration: none;
    color: #020b33;
    padding: 10px  20px;
    border: 3px solid #020b33;
}

.site-nav a:hover {
    background-color:#7e849e ;
}

body {
    text-align: center;
    font-size: large;
}

.centered-block-x {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 500px;
  }

  h3 {
      padding: 10px  20px;
      background-color: white;
  }

ul {
    list-style: none;
}

.contact li {
  padding-bottom: 10px;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.before {
    float: left;
    margin-left:160px;
    }

    .after {
        float:left;
        margin-left: 5px;
    }

    @media screen and (max-width:700px) {
        h1 {
            font-size:10vw;
            padding-top: 0px;
        }
        h3 {
            font-size: 10vw;
            padding-top: 20px;
        }
        img {
            width: 100%;
            height:auto;
            margin-left: 0px;
        }

        .before{
            transform: translate(-155px, -10px);
        }
        }
    }

        @media screen and (max-width: 480px) {
            h1 {
                font-size:10vw;
                padding-top:0px;
            }
            h3 {
                font-size: 10vw;
            }
            img {
                width:100%;
                height:auto;
                margin-left: 0px;
            }
            }
    }


            @media screen and (min-width: 1300px) {
                
        